/*==========================================================================
======================     FONT VARIABLES HERE     ========================*/

$TYPE-1 : 'Maven Pro', sans-serif;
$TYPE-2 : 'Raleway', sans-serif;

/*==========================================================================
======================     FONT VARIABLES HERE     ========================*/


/*===========================================================================
======================     COLOR VARIABLES HERE     ========================*/

$brand-color : rgb(52, 152, 219);
$brand-color-2 : rgb(46,56,62);
$brand-color-3 : rgba(46, 56, 62, 0.73);
$f : rgba(255, 255, 255, 1);
$black : #000;
$blue : #2b99ff;
$blue-hover : #258cec;
$red : rgba(255, 0, 0, 0.7);
$sky_blue: rgb(197,254,255);
$green : rgba(0, 128, 0, 0.68);



/*===========================================================================
======================     COLOR VARIABLES HERE     ========================*/


/*============================================================================
======================     SCREEN VARIABLES HERE     ========================*/

$desktop: 1024px;
$tablet:768px;
$mobile:680px;
$menu_width : 320px;

/*============================================================================
======================     SCREEN VARIABLES HERE     ========================*/

$imp: !important;
