.feed-card {
    width: 65%;
    margin: auto;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgb(190, 188, 188);
}

.profile-card {
    background-image: url("../images/profile-bg.jpg");
}

.profile-card-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.profile-info-name {
    text-align: center;
}

.profile-info-name>h4 {
    font-family: inherit;
    font-weight: 900px;
}

.profile-info-description {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 25px;
    color: rgb(105, 103, 103);
    font-size: 19px;
}

.profile-info-box {
    width: 65%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid aliceblue;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgb(190, 188, 188);
    background-color: rgb(217, 237, 255);
}

.profile-card-name {
    text-align: center;
}

.profile-card-name>h4 {
    color: #0c6eac;
}

.profile-card-name>p {
    font-size: 14px;
    color: #888888;
}

.profile-description {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 25px;
    color: rgb(105, 103, 103);
}

.profile-card-details {
    background-color: rgb(217, 237, 255);
    padding: 0px;
}

.profile-card-details>h4 {
    padding: 20px 20px 0px;
    text-decoration: underline;
}

.profile-card-details>.row {
    margin: 20px 20px 0px;
}

.card-title {
    font-size: 14px;
}

.card-circle-progress {
    background-color: #2fa1e9;
    border: 6px solid rgb(217, 237, 255);
    border-radius: 30px;
}

.posts-timeline {
    margin-left: 18%;
}

.experiences {
    list-style-type: disc;
    margin-bottom: 0px;
}

.experiences>li>h6 {
    margin: 8px 0px 2px;
}

.experiences>li>p {
    font-size: 13px;
    color: #888888;
    margin-bottom: 0px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    padding-top: 40px;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}

#counter {
    width: 70px;
    height: 50px;
    background: #2fa1e9;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: center;
    margin: 5px;
}

.count {
    line-height: 70px;
    color: white;
    font-size: 24px;
}

.open-button {
    background-color: transparent;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 120px;
}

.tick-button {
    background-color: transparent;
    width: 120px;
    cursor: pointer;
    border: none;
}

.admin-buttons{
    style = float: right; 
    padding-bottom: 10px;
}