<nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <!--main pages start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Main</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#dashboardSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-compass"></i>
                                <span class="menu-title">Dashboard</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="dashboardSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="index.html">Dashboard 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/dashboard/dashboard-2.html">Dashboard 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/dashboard/dashboard-3.html">Dashboard 3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/dashboard/dashboard-4.html">Dashboard 4</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#layoutsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-view-grid"></i>
                                <span class="menu-title">Layouts</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="layoutsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/sidebar_mini.html">Compact menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/sidebar_icon.html">Icon menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/sidebar_toggle_display.html">Hidden menu 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/sidebar_absolute.html">Hidden menu 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/sidebar_fixed.html">Fixed menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/horizontal_menu.html">Horizontal menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/boxed_layout.html">Boxed</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/layout/rtl_layout.html">Rtl</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/widgets.html">
                                <i class="mdi mdi-layers"></i>
                                <span class="menu-title">Widgets</span>
                            </a>
                        </li>
                        <!--main pages end-->
                        <!--sample pages start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Sample pages</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#authSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-lock"></i>
                                <span class="menu-title">Authentication</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="authSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/register.html">
                                      Register
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/register-2.html">
                                      Register 2
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/login.html">
                                      Login
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/login-2.html">
                                      Login 2
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#errorSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-alert-circle"></i>
                                <span class="menu-title">Error pages</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="errorSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/not-found.html">
                                      404
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/error.html">
                                      500
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#generalSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-content-copy"></i>
                                <span class="menu-title">General Pages</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="generalSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/blank_page.html">
                                          Blank Page
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/landing-page.html">
                                          Landing Page
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/search-results.html">
                                          Search Results
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ecommerceSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-cart"></i>
                                <span class="menu-title">E-commerce</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="ecommerceSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/invoice.html">
                                          Invoice
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/pricing.html">
                                          Pricing
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/orders.html">
                                      Orders
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--sample pages end-->
                        <!--ui features start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">UI Features</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#uiBasicSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-laptop"></i>
                                <span class="menu-title">Basic Elements</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="uiBasicSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/accordions.html">Accordions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/buttons.html">Buttons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/dropdowns.html">Dropdowns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/modals.html">Modals</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/pagination.html">Pagination</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/progress.html">Progress</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/typography.html">Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#uiAdvancedSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-cube"></i>
                                <span class="menu-title">Advanced Elements</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="uiAdvancedSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/tabs.html">Tabs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/clipboard.html">Clipboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/dragula.html">Dragula</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/listify.html">Listify</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/context-menu.html">Context Menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/colcade.html">Colcade</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/ion-range-slider.html">Ion-range slider</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/no-ui-slider.html">No-ui-slider</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#uiPopupSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-forum"></i>
                                <span class="menu-title">Popups</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="uiPopupSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/alerts.html">Alerts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/avgrund.html">Avgrund</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/tour.html">Tour</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#uiNotificationsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-bell"></i>
                                <span class="menu-title">Notifications</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="uiNotificationsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/notifications.html">Toast</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/desktop-notification.html">Desktop Notification</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#gallerySubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-folder-image"></i>
                                <span class="menu-title">Gallery</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="gallerySubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/owl-carousel.html">Carousel</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#iconsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-emoticon-neutral"></i>
                                <span class="menu-title">Icons</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="iconsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/font-awesome.html">Font awesome</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/themify.html">Themify</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/flag-icons.html">Flag icons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/flag-icons.html">Flag icons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-elements/simple-line-icons.html">Simple Line icons</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--ui features end-->
                        <!--data rep start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Data representation</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#chartsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-chart-bar"></i>
                                <span class="menu-title">Charts</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="chartsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/charts/chartJs.html">ChartJs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/charts/flotChart.html">Flot</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/charts/chartist.html">Chartist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/charts/sparkline.html">Sparkline</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#tablesSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-table-large"></i>
                                <span class="menu-title">Tables</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="tablesSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/tables/basic-table.html">Basic</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/tables/js-grid.html">Js-grid</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--data rep end-->
                        <!--forms start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Forms</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#formsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-clipboard-text"></i>
                                <span class="menu-title">Form components</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="formsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/basic-elements.html">Basic elements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/wizard.html">Wizard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/x-editable.html">X-editable</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/typeahead.html">Typeahead</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#validationSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-checkbox-marked-circle"></i>
                                <span class="menu-title">Validation</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="validationSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/form-validation.html">Form validation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/bt-maxlength.html">Maxlength</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#formsAdvancedSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-trophy"></i>
                                <span class="menu-title">Advanced plugins</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="formsAdvancedSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/formpickers.html">Form pickers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/cropper.html">Cropper</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/icheck.html">Icheck</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#fileUploadSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-upload"></i>
                                <span class="menu-title">File upload</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="fileUploadSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/dropify.html">Dropify</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/dropzone.html">Dropzone</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/jquery-file-upload.html">Jquery upload</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#textEditorSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-pencil-box"></i>
                                <span class="menu-title">Text editors</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="textEditorSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/summernote.html">Summernote</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/tinymce.html">Tinymce</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#codeEditorSubmenu" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-code-array"></i>
                                <span class="menu-title">Code editors</span>
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <div class="collapse" id="codeEditorSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/ace.html">Ace</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/forms/code-mirror.html">Codemirror</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--forms end-->
                        <!--Apps start-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Applications</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/apps/email.html">
                                <i class="mdi mdi-email-open"></i>
                                <span class="menu-title">E-mail</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/apps/calendar.html">
                                <i class="mdi mdi-calendar"></i>
                                <span class="menu-title">Calendar</span>
                            </a>
                        </li>
                        <!--Apps end-->
                        <li class="nav-item nav-category">
                            <span class="nav-link">Documentation</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/documentation.html">
                                <i class="mdi mdi-file"></i>
                                <span class="menu-title">Documentation</span>
                            </a>
                        </li>
                    </ul>
                </nav>
