<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AlumLocator - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
    <style>
        html,
        body,
        #map_canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="horizontal-menu" onload="locate()">
    <div class=" container-scroller">
        <!-- partial:../partials/_navbar.html -->
        <nav class="navbar navbar-light col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-left navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="/dashboard"><img src="../images/logo_black.png" class="nav-logo-img"></a>
                <a class="navbar-brand brand-logo-mini" href="#"><i class="mdi mdi-cards-outline"></i></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-self-stretch align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item  mt-2 mt-md-0 d-none d-lg-block">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link count-indicator" href="/dashboard">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator" id="MailDropdown" href="#" data-toggle="dropdown">
                            <i class="fa fa-comments-o"></i>
                            <span class="count">4</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown mail-notification" aria-labelledby="MailDropdown">
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face6.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">John Doe</p>
                                    <p class="Sender-message">Hey, We have a meeting planned at the end of the day.</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face2.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Leanne Jones</p>
                                    <p class="Sender-message">Can we schedule a call this afternoon?</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face3.jpg" alt="">
                                    <span class="badge badge-primary">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Stella</p>
                                    <p class="Sender-message">Great presentation the other day. Keep up the good work!</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face4.jpg" alt="">
                                    <span class="badge badge-warning">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">James Brown</p>
                                    <p class="Sender-message">Need the updates of the project at the end of the week.</p>
                                </div>
                            </a>
                            <a href="/chat" class="dropdown-item view-all">View all</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link count-indicator" href="/alum-locator">
                            <i class="fa fa-bullseye"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" href="#" id="MailDropdown" href="#" data-toggle="dropdown">
                                    Profile<img src="../images/faces/face9.jpg" />
                            </a>
                        <div class="dropdown-menu navbar-dropdown mail-notification" aria-labelledby="MailDropdown">
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face2.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Name Something</p>
                                    <p class="Sender-message">View Profile</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-gears" style="padding-right:14px; font-size: 18px"></i>Settings</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-h-square" style="padding-right:14px; font-size: 18px"></i>Help Centre</p>
                                </div>
                            </a>
                            <a class="dropdown-item" id="logout-btn">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-sign-out" style="padding-right:14px; font-size: 20px"></i>Sign Out</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="content-wrapper" id="map_canvas">


                </div>


                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/maps.js"></script>

</body>

</html>